<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>Base|Exchange Agency </title> {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='converter.css') }}">
</head>
<body>
    <div class="container mt-4">
        <div class="jumbotron  text-center">
            <h1 class="display-4">Currency Exchange App</h1>
            <p class="lead">We offer Exchange across all curencies and virtual currencies as well! .</p>
        </div>
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>