{% extends 'base.html' %}
{% block title %} <title>Bitcoin|Exchange Agency </title> {% endblock %}

{% block content %}
<div class="row d-flex  justify-content-center">
    <div class="col-6">
        <div class="card text-center" >
            <img class="card-img-top" src="https://images.unsplash.com/photo-1542355187331-3a0f1049318e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1494&q=80" alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">Convert Currencies to Bitcoin</h5>
                <form action="/bitcoin" class= "form-group">
                    <div class= "d-flex-inline mb-3 ">
                            <label for="currency">Currency: </label>
                            <input type="text" class="form-control  ml-2" id="Cur1" name = "currency" placeholder="Enter currency code" required >
                            <br>
                            <label for="amount"> Amount: </label>
                            <input type="number" class="form-control  ml-2" id="amount" name = "amount" placeholder="Enter amount"required  >
                    </div>

                     <button href="#" class="btn btn-primary">Exchange</button>
                    </form>

                    <form action="/">
                        <button href="/" class="btn btn-warning " >Home</button>
                    </form>

            </div>
        </div>
    </div>



</div>

{% endblock %}