{% extends 'base.html' %}
{% block title %} <title>Currency|Exchange Agency </title> {% endblock %}

{% block content %}
<div class="row d-flex  justify-content-center">
    <div class="col-6">
        <div class="card text-center" >
            <img class="card-img-top" src="https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Convert Between Currencies</h5>
                <form action="/currency-exchange" method = "post" class= "form-group">
                        <label for="Cur1">Converting From: </label>
                        <input type="text" class="form-control m-2" id="Cur1" name = "Cur1" placeholder="Enter currency code" required  >

                        <label for="Cur1 ">Converting to: </label>
                        <input type="text" class="form-control  m-2" id="Cur2" name = "Cur2"placeholder="Enter currency code" required  >

                        <label for="amount">Amount: </label>
                        <input type="number" class="form-control m-2" id="amount" name = "amount"placeholder="Enter amount" required  >

                        <button  class="btn btn-primary">Exchange</button>

                    </form>
                    <form action="/">
                        <button href="/" class="btn btn-warning " >Home</button>
                    </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}